body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    margin: 30px;
}

.grid-container {
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.box {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
}